body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  background-image: url("garden/garden\ \(1\).png");
  background-size: cover;
}

.game-container {
  width: 400px;
  height: 400px;
  background-image: url("soil/soil.png");
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
}

.holes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 400px;
  justify-content: space-around;
  margin-top: 50px;
  background-size: cover;
}
.hole {
  display: flex;
  width: 120px;
  height: 110px;
  background-image: url("dirthole.png/dirthole.png");
  background-size: cover;
  margin: 2px;
  cursor: pointer;
}

.score-timer {
  text-align: center;
  margin-top: 20px;
}

#score {
  font-size: 20px;
  margin: 5px;
}

#timer {
  font-size: 20px;
  margin: 5px;
}

.game-button {
  background-color: black;
  color: aliceblue;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.game-button:hover {
  background-color: #0056b3;
}

.mole {
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: none;
}
.potato {
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: none;
}

.carrot {
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: none;
}
